<nav class="navbar navbar-expand-lg navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand ms-4" routerLink="/">{{projektname}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/contact-us">Contact Us</a>
                </li>
                <li class="nav-item" *ngIf="moneycount >= 200">
                    <a class="nav-link active viptext">You are a VIP</a>
                </li>
            </ul>
            <p class="counter"> Counter: {{moneycount}}</p>
            <button class="btn btn-outline-light ms-2 me-4" type="submit" (click)="counter()">Donate 10$</button>
        </div>
    </div>
</nav>