<div id="content">
    <div class="row ">
        <div *ngFor="let car of cars" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wrap ">
            <div class="wrap">
                <div class="card" style="width: 18rem;">
                    <img id="image" src="{{car.picture}}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{car.brand}} {{car.model}}</h5>
                        <p class="card-text"> Ps: {{car.ps}}</p>
                        <p class="card-text"> Build Year: {{car.buildingyear}}</p>
                        <p class="card-text"> Price: {{car.price}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="cont">
        <h3 style="text-align: center;"> Submit new Car</h3>
        <form [formGroup]="carform" (ngSubmit)="pushCar()">
            <div class="row inputs">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 input">
                    <label for="picture">Picture:&nbsp;&nbsp; </label>
                    <input id="picture" type="text" formControlName="picture">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 input">
                    <label for="brand">Brand:&nbsp;&nbsp; </label>
                    <input id="brand" type="text" formControlName="brand">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 input">
                    <label for="model">Model:&nbsp;&nbsp; </label>
                    <input id="model" type="text" formControlName="model">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 input">
                    <label for="ps">Ps:&nbsp;&nbsp; </label>
                    <input id="ps" type="number" formControlName="ps">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 input">
                    <label for="buildingyear">Buildyear:&nbsp;&nbsp; </label>
                    <input id="buildingyear" type="number" formControlName="buildingyear">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 input">
                    <label for="price">Price:&nbsp;&nbsp; </label>
                    <input id="price" type="number" formControlName="price">
                </div>
            </div>
            <div id="submit">
                <input type="Submit" class="btn btn-outline-dark " value="submit" [class.disabled]="!carform.valid">
            </div>
            <ng-template [ngIf]="submitted == true">
                <h5 id="good" style="text-align: center;">Thx for your submission</h5>
            </ng-template>
        </form>
    </div>
</div>